<div id="Contain">
  <button id="getall" (click)="getAll()">Get All</button>
  <form id ="Create">
    <input name = 'id' type = 'text' [(ngModel)]="id">
    <input name = 'username' type = 'text' [(ngModel)]="name">
    <input name = 'age' type = 'text' [(ngModel)]="age">
    <button (click)="getCreate()">CREATE</button>
  </form>
</div>

<div id="des" *ngFor="let c of (item$|async)">
  <div id="id">ID : {{c.id}}</div>
  <div id="name">Name : {{c.name}}</div>
  <div id="age">Age: {{c.age}}</div>
</div>
